
<section class="card">

    <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1655743974/petgroominglogo.png"
                class="rounded-circle mx-auto d-block mt-4" width="200" height="200">
    
    <div class="card-body">
        <h1 class="mx-auto">About</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum beatae illo architecto. Voluptatibus, vero. 
            Consequuntur provident ipsam sed suscipit iure et ea. Minus, soluta amet. Odio ut error deserunt inventore!
        </p>
    </div>

</section>