
<div class="jumbotron mt-4">
    <h3 class="display-4">Gentle Dental Cleaning Program</h3>

    <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1657661270/Mirelle_syheqo.jpg"
                class="rounded-circle mx-auto d-block m-4" width="250" height="300">

        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem perferendis neque vitae dolorem. Sed, totam! Quisquam laudantium, vero odit fugiat atque accusamus corrupti temporibus. Deleniti qui placeat soluta nemo rem.</p>
        <hr class="my-4">
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ad commodi eaque! Voluptate corporis velit quasi repellendus dignissimos, aliquam earum.</p>

        {{!-- <a href="" class="btn btn-primary">google</a> --}}
        {{!-- https://res.cloudinary.com/metacortexjohn/image/upload/v1657661270/Mirelle_syheqo.jpg --}}
</div>