
<div class="jumbotron mt-4">
    <h3 class="display-4">Gentle Dental Cleaning Program</h3>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem perferendis neque vitae dolorem. Sed, totam! Quisquam laudantium, vero odit fugiat atque accusamus corrupti temporibus. Deleniti qui placeat soluta nemo rem.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ad commodi eaque! Voluptate corporis velit quasi repellendus dignissimos, aliquam earum.</p>
        {{!-- <a href="" class="btn btn-primary">google</a> --}}
</div>